

#container-m1{
    width:100%;
    font-family: fantasy;
}
.bloc-page-m1{
    margin:0;
    background-color: #fff;
   }
   .note1{
     display:flex;
     justify-content: center;
     margin:auto;
     width: 90px;
     height:90px;
   }
   .note2{
       display: inline-flex;
       justify-content: center;
       width:60px;
       height:60px;
   }
   .fin{
       display:inline-flex;
       width: auto;
       justify-content: center;
       color: #4e342e;
   }
       

    .carte-m1{
        position: relative;
        width: 80%;
        margin: auto;
        background-color: #ffebee;
        margin-bottom: 150px;
        padding-bottom: 40px;
        -webkit-margin-bottom-collapse: separate;
    }
       
   .essaie{
       display:flex;
       flex-direction: row;
       justify-content: center;
       margin-top:0;
       width: 100%;
       vertical-align: middle;
   }
   .separateur-m1{
       width: 25%;
       display: flex;
       align-self: center;
       height: 70px;

   }
   .bas-m1{
       display: inline-flex;
       justify-content: center;
       margin-top:30px;
       width: 100%;
   }
   .entete{
       text-align: center;
       padding-top:50px;
       
   }
    .titre-m1{
       font-weight:lighter;
       font-size:2.4em;
       color:#4e342e;
       margin:0;
   }
   .title-m1{
       text-align: center;
       font-weight: normal;
       font-size:1.3em;
       font-family: 'Luminari', fantasy;
       color:#4e342e;
       display: flex;
       justify-content: center;
       width: 35%;
   }

   .fa,.fas {
 font-weight:900;
 margin-right: 5px;
}
li{
color:#4e342e;
}

.title:before {
    content: "";
    left: 0;
    right: 0;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
}

  @media screen and (max-width: 870px){
  #title{
      margin: auto;
  }
  #container-m1 {
    width: 100%;
    font-family: fantasy;
    height: auto;
    margin-bottom: 30%;
    padding-bottom: 0;
  }
    .prix {
       float: none;
       display: flex;
       text-align: center; 
       margin: auto; 
       margin-top:8px;
       justify-content: center;
   }
   .essaie{
       flex-direction:column;
       height:auto;
   }
   .title{
       width:100%;
       margin: auto;
   }
   .separateur-m1{
       width:15%;
   }
   .separateur{
       width:15%; 
   }
   .carte-m1{
       width: 100%;
       height: auto;
       margin:0;
       padding:0;
   }
   .titre{
       margin:10px auto;
    }
    .ul-m4{
        margin: 0;
        height: auto;
    }
  }
  
      
   

   